layout {
    pane size=1 borderless=true {
        plugin location="file:~/.config/zellij/custom-zellij-bar.wasm"
    }
    pane split_direction="vertical" size="80%"{
        pane {
            command "nvim"
            focus true
            name "nvim"
        }
    }
    pane
}

